DATABASE_URL="YOUR POSTGRES DATABASE URL"
GMAIL_KEY="GENERATE FROM GOOGLE APP-PASSWORDS"
FROM_EMAIL_ADDRESS="EMAIL ADDRESS FROM WHICH OTP WILL BE SENT || GENERATE APP PASSWPRD FOR THIS EMAIL"
JSON_WEB_SECRET="ANY STRING TO SIGN AND VERIFY JWT TOKENS"